{% macro parameters_dump(ctx) %}
// =============================================================================
// Parameters context:
// =============================================================================
{% for key, value in ctx.items() | sort if value is not callable and not key.startswith('_') %}
// {{"%-20s" | format(key) }} : {{ value }}
{% endfor %}
// =============================================================================
{% endmacro %}